body {
  margin: 0;
  padding: 0;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Segoe UI", Arial, sans-serif; /* Segoe UI as the primary font */
}

.container {
  text-align: center;
}

input[type="password"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 8px;
  background-color: #FFD4B8;
  transition: all 0.3s ease;
  font-family: "Segoe UI", Arial, sans-serif; /* Segoe UI for the input field */
  font-weight: bold; /* Making the font bold */
  border: 0;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

}

input[type="password"]:focus {
  outline: none;
  transform: scale(1.05);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #E8C1A7;
  cursor: pointer;
  border-radius: 8px;
  border: 0;
  transition: all 0.3s ease;
  font-family: "Segoe UI", Arial, sans-serif; /* Segoe UI for the button */
  font-weight: bold; /* Making the font bold */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);

}

button:hover {
  background-color: #FFB383;
  transform: translateY(-3px);
}

/* Add the following CSS for the notification */
.notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  padding: 20px 20px;
  border-radius: 8px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 1s ease;
  pointer-events: none; /* This ensures the notification doesn't block interactions */
}

.notification.show {
  opacity: 1;
  animation: fadeOut 2s ease 1s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Existing CSS styles */

/* Add the following CSS for the fade-out animation */
.container.fade-out {
  animation: fadeOut 2s ease;
}

