body {
  margin: auto;
  padding: auto;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 75%;
  font-family: "Segoe UI", Arial, sans-serif; /* Segoe UI as the primary font */
  font-weight: bold; /* Making the font bold */
  overflow: hidden;
  word-wrap: break-word;
}
p {
  opacity: 0;
  font-family: "FangSong", sans-serif;
  font-size: 22px;
}

.card-text {
  font-weight: normal;
}
.container {
  text-align: center;
}

.continue-button {
  opacity: 0;
  position: fixed;
  top: 80%; /* Adjust this value to control the vertical position */
  background-color: #fff0d6;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Segoe UI", Arial, sans-serif; /* Segoe UI for the button */
  font-weight: bold;
  transition: all 0.5s ease;
  animation: fadeIn 3s ease 30s forwards;
  border-width: 0;
}


.continue-button:hover {
  background-color: #FFB383;
  transform: translateY(-3px);
}

/* Music icon styling */
.music-icon {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.music-icon img {
  width: 30px;
}

/* Existing CSS styles */

/* Add the following CSS for the arrow animation */
.arrow-animation {
  position: fixed;
  top: 70px;
  right: 35px;
  opacity: 0;
  animation: fadeInOut 2s ease 1s forwards;
}

.arrow {
  width: 1px;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid black;
  position: absolute;
  right: -15px;
  border-radius: 15px; /* Adjust this value to position the arrow relative to the music button */
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-3px);
  }
  30%{
      transform: translateY(5px);
      opacity: 1;
  }
  50%{
      transform: translateY(-8px);

  }
  75%{
      transform: translateY(5px); 
  }
  100% {
    opacity: 0;
    transform: translateY(-3px);
  }
}


.reciever-name {
  animation: fadeIn 1.5s ease 2s forwards;
}

.card-text {
  animation: fadeIn 2s ease 3s forwards;
}
.sender-name {
  margin-left: 80%;
  animation: fadeIn 1s ease 3.5s forwards;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.timer {
  opacity: 0;
  position: fixed;
  top: 20px; /* Adjust this value to control the vertical position */
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF0D6;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeIn 3s ease 15s forwards;
}

.ps {
  animation: fadeIn 1s ease 25s forwards;
}


.container-menu {
  z-index: 2;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.container-menu:hover {
  padding: 10px;
  margin: 10px;
  top: 0;
  left: 0;
  background-color: #fff0d6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {opacity: 0;}

/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}



/* The side navigation menu */
.sideNavCss {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #111; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
opacity: 0.8;
}

/* The navigation menu links */
.sideNavCss a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 30px;
color: #818181;
display: block;
transition: 0.3s;
text-align: center;
}

/* When you mouse over the navigation links, change their color */
.sideNavCss a:hover {
color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}